# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
.DS_Store

# Backend
Backend/node_modules/
Backend/.env

# Frontend
Frontend/.DS_Store

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage and diagnostics
coverage
.nyc_output
*.lcov
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/
bower_components/
jspm_packages/
web_modules/

# TypeScript cache
*.tsbuildinfo

# Optional cache and build files
.cache
.parcel-cache
.next
.nuxt
dist
.temp
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.vscode-test

# dotenv files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
